<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defaultImageName" value="Windows 2012 R2 64-bit 4 CPU" />
    <add key="defaultServerMemorySizeGb" value="8" />
    <add key="defaultServerCoresPerSocket" value="1" />
    <add key="defaultServerCpuCount" value="4" />
    <add key="defaultNetworkDomainName" value="Citrix" />
    <add key="defaultPrimaryVlanName" value="Primary" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>